%rebase('osnova.html')


<a href="/search">drink search</a>

% [ime, drzava, velikost, stopnja_alkohola, vrsta, cena, opis, slika] = result


<div class="card">
    <div class="card-body">

        <h2 class="card-title">{{ime}}</h2>
        <p class="card-text">{{vrsta}} from {{drzava}}</p>

        <div class="media">
            <img class="mr-3" src="{{slika}}" height="500">

            <div class="media-body">

                <div class="table-sm">
                <table class="table" style="width:200px">

                    <div class="row">
                        <div class="col"><b>Alcohol:</b></div>
                        <div class="col"><b>Price:</b></div>
                        <div class="col"><b>Size:</b></div>
                    </div>
                    <div class="row">
                        <div class="col">{{stopnja_alkohola}} %</div>
                        <div class="col">{{cena}} €</div>
                        <div class="col">{{velikost}} l</div>
                    </div>
                </table>
                </div>

                <h5 class="mt-0">Brewery:</h5>
                <p>{{pivovarna}}</p>

                <h5>Description:</h5>
                <p>{{opis}}</p>


            </div>
        </div>


    </div>
</div>
