%rebase('osnova.html')


<!-- INFORMATION ABOUT A CHOSEN BEER -->

% [ime, drzava, velikost, stopnja_alkohola, vrsta, cena, opis, slika] = result

<div class="card">
    <div class="card-body">

        <h2 class="card-title">{{ime}}</h2>
        <p class="card-text"><i>{{vrsta}} from {{drzava}}</i></p>

        <div class="media">
            <img class="mr-3" src="{{slika}}" height="500">

            <div class="media-body">
			
			
				<div class="table-sm">
					<table class="table table-bordered" style="width:400px">
						<tbody>
							<tr>
								<td><b>Alcohol:</b></td>
								<td>{{stopnja_alkohola}} %</td>
							</tr>
							<tr>
								<td><b>Size:</b></td>
								<td>{{velikost}} l</td>
							</tr> 
							<tr>
								<td><b>Price:</b></td>
								<td>{{cena}} €</td>
							</tr>
							<tr>
								<td><b>Type:</b></td>
								<td>{{vrsta}}</td>
							</tr>
							<tr>
								<td><b>Brewery:</b></td>
								<td>{{pivovarna}}</td>
							</tr> 
							<tr>
								<td><b>Origin:</b></td>
								<td>{{drzava}}</td>
							</tr> 
						</tbody>
					</table>
				</div>

                <h5>Description:</h5>
                <p>{{opis}}</p>


            </div>
        </div>


    </div>
</div>
