%rebase('osnova.html')

% LAST_BEER_ID = 1041

<!-- SEARCH RESULT TABLE -->

% res = list(results)       # ce ne nardis posebi, sprazne slovar ko ga prvic uporab (ko prever dolzino)

<div class="container">

  <div class="row">
	<div class="col"><h2>Drinks</h2></div>
	<!-- back to search button -->
	<div class="col"><a class="btn btn-dark" href="/search" role="button">Search again</a></div>
  </div>
  
    <!--TODO tuki bi lahko pisal se ker tip vina oz piva pase k takmu obroku (bold red/IPA npr.), dol pa predlog kere flase so to-->
    %if len(res) != 0:
      <p>Here are some drinks that would go well with your meal:</p>
      <table class="table" id="table drink">
        <thead>
          <tr>
            %if pictures:
              <th>Bottle</th>
            %end
            <th>Drink name</th>
            <th>Drink type</th>
            <th>Country</th>
            <th>Alcohol content</th>
            <th>Size</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          %for [id,ime,drzava,velikost,stopnja_alkohola,slika,cena,vrsta] in res:
            <tr>
              %if pictures:
                <td><img class="mr-3" src="{{slika}}" height="45"></td>
              %end
                %if id <= LAST_BEER_ID:
                  <td><a href="/beer_info/{{id}}/">{{ime}}</a></td>
                  <td>Beer</td>
                %else:
                  <td><a href="/wine_info/{{id}}/">{{ime}}</a></td>
                  <td>Wine</td>
                %end
              <td><a href="/country/{{drzava}}/">{{drzava}}</a></td>    <!-- bi blo bols posebi country_beer, country_wine? -->
              <td>{{stopnja_alkohola}} %</td>
              <td>{{velikost}} l</td>
              %if cena is not None:
                <td>{{cena}} €</td>
              %else:
                <td>Price not known</td>
              %end
            </tr>
          %end
        </tbody>
      </table>
    %else:
        <i>We can't find any drink that would go well with all of your ingredients. Try leaving out the less important ones.</i>
    %end
</div>