%rebase('osnova.html')

<!-- SEARCH RESULT TABLE -->

<a href="/search">drink search</a>

<div class="container">
  <h2>Drinks</h2>
  <p>This is going to be a table showing our search results</p>            
  <table class="table" id="table drink">
    <thead>
      <tr>
        <th>Drink name</th>
        <th>drink type</th>
        <th>country</th>
        <th>size</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Drink name</td>
        <td>drink type</td>
        <td>country</td>
        <td>size</td>
        <td>price</td>
      </tr>
      <tr>
        <td>Drink name</td>
        <td>drink type</td>
        <td>country</td>
        <td>size</td>
        <td>price</td>
      </tr>
      <tr>
        <td>Drink name</td>
        <td>drink type</td>
        <td>country</td>
        <td>size</td>
        <td>price</td>
      </tr>
    </tbody>
  </table>
</div>