%rebase('osnova.html')


<a href="/search">drink search</a>



<div class="card">
    <div class="card-body">

        <h2 class="card-title">{{ime}}</h2>
        <p class="card-text">{{barva}} wine from {{drzava}}</p>

        <div class="media">
            <img class="mr-3" src="https://dsi2vjvztwiuk.cloudfront.net/website/products/104549/bottle/754772/original.png" height="500" alt="Generic placeholder image">

            <div class="media-body">

                <div class="table-sm">
                <table class="table" style="width:200px">

                    <div class="row">
                        <div class="col"><b>Alcohol:</b></div>
                        <div class="col"><b>Price:</b></div>
                        <div class="col"><b>Size:</b></div>
                    </div>
                    <div class="row">
                        <div class="col"><b>{{stopnja_alkohola}} %</b></div>
                        <div class="col"><b>{{cena}} €</b></div>
                        <div class="col"><b>{{velikost}} l</b></div>
                    </div>
                </table>
                </div>

                <h5 class="mt-0">Description:</h5>
                {{opis}}
                <h5 class="mt-0">Taste:</h5>
                {{okus}}

                <h5 class="mt-0">Smell:</h5>
                {{vonj}}

                <h5 class="mt-0">Origin:</h5>
                {{drzava}},{{regija}}

            </div>
        </div>


    </div>
</div>
