%rebase('osnova.html')

% LAST_BEER_ID = 1041

<!-- SEARCH RESULT TABLE -->

<a href="/search">back to search form</a>

<div class="container">
  <h2>Drinks</h2>
  <p>Here are some drinks that would go well with your meal:</p>            
  <table class="table" id="table drink">
    <thead>
      <tr>
	    <th>Bottle</th>
        <th>Drink name</th>
        <!-- <th>Drink type</th> -->
        <th>Country</th>
        <th>Alcohol content</th>
      </tr>
    </thead>
    <tbody>
	  %for (id,ime,drzava,velikost,stopnja_alkohola,slika,vrsta) in results:
	    <tr>
		  <td><img class="mr-3" src="{{slika}}" height="50"></td>
            % if id < LAST_BEER_ID:
            <td><a href="/beer_info/{{id}}/">{{ime}}</a></td>
            % else:
            <td><a href="/wine_info/{{id}}/">{{ime}}</a></td>
            % end
		  <td>{{drzava}}</td>
		  <td>{{stopnja_alkohola}}</td>
	    </tr>
      %end
    </tbody>
  </table>
</div>