%rebase('osnova.html')

<!-- TODO: everything -->

<img class="mb-3" src="https://www.travelonline.com/sunshine-coast/noosa/events/food-and-wine-festival/wine-beer-food-44852.jpg" width="100%">

Hello! This is an application to help you find the right drink to match your meal. You enter information about your food in the search form and get a plethora of drink suggestions that would go well alongside it. 
The search can be found <a href="/search">here</a> and you can find more general information about the app and food/drink pairing <a href="/general_info">here</a>.

