%rebase('osnova.html')
    
<!-- search form -->
<form action="/search_drinks" method="POST">

  <h2>Search form</h2>
  
  <!---------------------------------------->
  <!-- FOOD OPTIONS -->
  <!---------------------------------------->
  <div class="card">
    <div class="card-body">

	  <h2 class="card-title">Meal type</h2>
      <p class="card-text">Choose the options that suit your meal:</p>
      
      
      <!-- CHECK LISTS -->

      <div class="row">

		  <!-- Preparation -->
		<div class="col">
		  <div class="card">
			<div class="card-body">

			  <h4 class="card-title">Preparation</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="grilled" name="grilled">
				<label class="form-check-label" for="grilled">
				  Grilled
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="fried" name="fried">
				<label class="form-check-label" for="fried">
				  Fried
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="roasted" name="roasted">
				<label class="form-check-label" for="roasted">
				  Roasted
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="smoked" name="smoked">
				<label class="form-check-label" for="smoked">
				  Smoked
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="steamed" name="steamed">
				<label class="form-check-label" for="steamed">
				  Steamed
				</label>
			  </div>
			</div>
		  </div>
		</div>


		  <!-- Meat -->
		<div class="col">
		  <div class="card">
			<div class="card-body">

			  <h4 class="card-title">Meat type</h4>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="red meat" name="red_meat">
				<label class="form-check-label" for="red_meat">
				  Red Meat
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="cured meat" name="cured_meat">
				<label class="form-check-label" for="cured_meat">
				  Cured Meat
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="pork" name="pork">
				<label class="form-check-label" for="pork">
				  Pork
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="poultry" name="poultry">
				<label class="form-check-label" for="poultry">
				  Poultry
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="mollusk" name="mollusk">
				<label class="form-check-label" for="mollusk">
				  Mollusk
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="fish" name="fish">
				<label class="form-check-label" for="fish">
				  Fish
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="shellfish" name="shellfish">
				<label class="form-check-label" for="shellfish">
				  Shellfish
				</label>
			  </div>
			</div>
		  </div>
		</div>

		  <!-- Starch type -->
		<div class="col">
		  <div class="card">
			<div class="card-body">

			  <h4 class="card-title">Starch type</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="white starches" name="white_starches">
				<label class="form-check-label" for="white_starches">
				  White Starch
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="whole wheat" name="whole_wheat">
				<label class="form-check-label" for="whole_wheat">
				  Whole Wheat
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="sweet starchy vegetable" name="sweet_starchy_vegetable">
				<label class="form-check-label" for="sweet_starchy_vegetable">
				  Sweet Starchy Vegetables
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="potato" name="potato">
				<label class="form-check-label" for="potato">
				  Potato
				</label>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

	  
      <div class="row">
	  
	    <!-- Vegetables -->
	    <div class="col">
		  <div class="card">
			<div class="card-body">
			  
			  <h4 class="card-title">Vegetables</h4>
			  <!-- TODO: present alliums and nightshades using normal words -->
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="alliums" name="alliums">
				<label class="form-check-label" for="alliums">
				  Alliums
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="green" name="green">
				<label class="form-check-label" for="green">
				  Green vegetables
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="funghi" name="mushrooms">
				<label class="form-check-label" for="mushrooms">
				  Mushrooms
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="beans" name="beans">
				<label class="form-check-label" for="beans">
				  Beans
				</label>
			  </div>
			  <div class="form-check">
				<!-- TEST: IS VALUE NEEDED-->
				<input class="form-check-input" type="checkbox" value="nuts" name="nuts">
				<label class="form-check-label" for="nuts">
				  Nuts
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="nightshades" name="nightshades">
				<label class="form-check-label" for="beans">
				  Nightshades
				</label>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Spices -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  
			  <h4 class="card-title">Spices</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="spicy" name="spicy">
				<label class="form-check-label" for="spicy">
				  Spicy
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="herbs" name="herbs">
				<label class="form-check-label" for="herbs">
				  Herbs
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="black pepper" name="black_pepper">
				<label class="form-check-label" for="black_pepper">
				  Black pepper
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="red pepper" name="red_pepper">
				<label class="form-check-label" for="red_pepper">
				  Red pepper
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="baking spices" name="baking">
				<label class="form-check-label" for="baking">
				  Baking spices
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="exotic" name="exotic">
				<label class="form-check-label" for="exotic">
				  Exotic spices
				</label>
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- Cheese -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  
			  <h4 class="card-title">Cheese</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="soft" name="soft">
				<label class="form-check-label" for="soft">
				  Soft cheese
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="hard" name="hard">
				<label class="form-check-label" for="hard">
				  Hard cheese
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="pungent" name="pungent">
				<label class="form-check-label" for="pungent">
				  Pungent cheese
				</label>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
		
	  <div class="row">
	  
		<!-- Sweets -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  
			  <h4 class="card-title">Sweets</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="fruit" name="fruit">
				<label class="form-check-label" for="fruit">
				  Fruit
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="vanilla" name="vanilla">
				<label class="form-check-label" for="vanilla">
				  Vanilla
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="chocolate" name="chocolate">
				<label class="form-check-label" for="chocolate">
				  Chocolate
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="coffee" name="coffee">
				<label class="form-check-label" for="coffee">
				  Coffee
				</label>
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- empty columns for spacing -->
		<div class="col"></div>
		<div class="col"></div>
	  </div>

	  <h2 class="card-title">Preference</h2>
	  <div class="row">

		  <!-- Wine/beer -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  <p class="card-text">Do you prefer wine or beer with your meal?</p>
				 <select class="custom-select" name="drink">
					<option value="both">Both</option>
					<option value="wine">Wine</option>
					<option value="beer">Beer</option>
				 </select>
			</div>
		  </div>
		</div>
		  <!-- Pictures -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  <p class="card-text">Would you like to see pictures of all suggested drinks?</p>
				 <select class="custom-select" name="pictures">
					<option value="yes">Yes (longer loading)</option>
					<option value="no">No</option>
				 </select>
			</div>
		  </div>
		</div>
		    <!-- Sorting -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  <p class="card-text">How would you like to have the drinks sorted by?</p>
				<div class="row">
				  <div class="col">
					<select class="custom-select" name="sort">
					  <option value="price">Price</option>
					  <option value="country">Country</option>
					  <option value="alcohol">Alcohol content</option>
					  <option value="size">Size</option>
					</select>
				  </div>
				  <div class="col">
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="descending" name="descending">
					  <label class="form-check-label" for="descending">
						  Descending
					  </label>
					</div>
				  </div>
				</div>
		    </div>
		  </div>
		</div>
	  </div>
	  
   </div>
 </div>
  

  <!---------------------------------------->
  <!-- DRINK OPTIONS -->
  <!---------------------------------------->
  
  <!-- TODO! -->
  
  <p><input type="submit" value="Search"></p>
</form>
