%rebase('osnova.html')
    
<!-- search form -->
<form action="/search_drinks" method="POST">

  <h2>Search form</h2>
  
  <p> 
  This is the search for finding drink suggestions. It isn't difficult to use. You simply select the ingredients of the meal you want to match in the "Meal type" settings.
  The "Preferences" section contains additional options for how the results are shown and sorted as well as which drinks are suggested. After you've made your choice you 
  press the "Search" button and browse the drinks that would go well with your food. 
  </p>
  
  <p> 
  For example, if you're going to make lasagna, you would select the <i>Red Meat</i> option in the "Meat type" section as well as the <i>Nightshades</i> in the "Vegetables" section.
  You might want to also select <i>Herbs</i> in the "Spices" section or the sort of cheese you will include to find a more specific match. If you want more information about 
  a category you can hold your mouse over the text to see examples. If there are no results found, you might want to go back and select less ingredients, focusing only on the most important ones.
  Have fun!
  </p>
  
  <!---------------------------------------->
  <!-- SEARCH FORM -->
  <!---------------------------------------->
  
  <div class="card">
    <div class="card-body">
	
	<!---------------------------------------->
    <!-- PREFERENCES -->
    <!---------------------------------------->
  
    <p>
		<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#preferences" aria-expanded="false" aria-controls="collapseExample">
		 Preferences
		</button>
	</p>
	<div class="collapse" id="preferences">
	  
		<h2 class="card-title">Preferences</h2>
		
		<p class="card-text">Select you preferences:</p>
		
		  <div class="row">
			  <!-- Wine/beer -->
			<div class="col">
			  <div class="card">
				<div class="card-body">
				  <p class="card-text">Do you prefer wine or beer with your meal?</p>
					 <select class="custom-select" name="drink">
						<option value="both">Both</option>
						<option value="wine">Wine</option>
						<option value="beer">Beer</option>
					 </select>
				</div>
			  </div>
			</div>
			  <!-- Pictures -->
			<div class="col">
			  <div class="card">
				<div class="card-body">
				  <p class="card-text">Would you like to see pictures of all suggested drinks?</p>
					 <select class="custom-select" name="pictures">
						<option value="no">No</option>
						<option value="yes">Yes (longer loading)</option>
					 </select>
				</div>
			  </div>
			</div>
				<!-- Sorting -->
			<div class="col">
			  <div class="card">
				<div class="card-body">
				  <p class="card-text">How would you like to have the drinks sorted by?</p>
					<div class="row">
					  <div class="col">
						<select class="custom-select" name="sort">
						  <option value="price">Price</option>
						  <option value="country">Country</option>
						  <option value="alcohol">Alcohol content</option>
						  <option value="size">Size</option>
						</select>
					  </div>
					  <div class="col">
						<div class="form-check">
						  <input class="form-check-input" type="checkbox" value="descending" name="descending">
						  <label class="form-check-label" for="descending">
							  Descending
						  </label>
						</div>
					  </div>
					</div>
				</div>
			  </div>
		  </div>
		  
	  </div>
	</div>
	
	
	<!---------------------------------------->
    <!-- FOOD OPTIONS -->
    <!---------------------------------------->

	<h2 class="card-title">Meal type</h2>
      <p class="card-text">Choose the options that suit your meal:</p>
      
      
      <!-- CHECK LISTS -->

      <div class="row">

		  <!-- Preparation -->
		<div class="col">
		  <div class="card">
			<div class="card-body">

			  <h4 class="card-title">Preparation</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="grilled" name="grilled">
				<label class="form-check-label" for="grilled">
			      Grilled
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="fried" name="fried">
				<label class="form-check-label" for="fried">
				  Fried
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="roasted" name="roasted">
				<label class="form-check-label" for="roasted">
				  Roasted
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="smoked" name="smoked">
				<label class="form-check-label" for="smoked">
				  Smoked
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="steamed" name="steamed">
				<label class="form-check-label" for="steamed">
				  Steamed
				</label>
			  </div>
			</div>
		  </div>
		</div>


		  <!-- Meat -->
		<div class="col">
		  <div class="card">
			<div class="card-body">

			  <h4 class="card-title">Meat type</h4>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="red meat" name="red_meat">
				<label class="form-check-label" for="red_meat">
					<a data-toggle="tooltip" data-placement="right" title="beef, lamb, venison">Red Meat</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="cured meat" name="cured_meat">
				<label class="form-check-label" for="cured_meat">
					<a data-toggle="tooltip" data-placement="right" title="salami, proscuitto, bresaola, bacon">Cured Meat</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="pork" name="pork">
				<label class="form-check-label" for="pork">
					<a data-toggle="tooltip" data-placement="right" title="roast, tenderloin, pork chop">Pork</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="poultry" name="poultry">
				<label class="form-check-label" for="poultry">
					<a data-toggle="tooltip" data-placement="right" title="chicken, turkey, duck">Poultry</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="mollusk" name="mollusk">
				<label class="form-check-label" for="mollusk">
					<a data-toggle="tooltip" data-placement="right" title="oyster, mussel, clam">Mollusk</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="fish" name="fish">
				<label class="form-check-label" for="fish">
					<a data-toggle="tooltip" data-placement="right" title="(incl. raw) tuna, cod, trout, bass">Fish</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="shellfish" name="shellfish">
				<label class="form-check-label" for="shellfish">
					<a data-toggle="tooltip" data-placement="right" title="lobster, prawn, crab, langoustine">Shellfish</a>
				</label>
			  </div>
			</div>
		  </div>
		</div>

		  <!-- Starch type -->
		<div class="col">
		  <div class="card">
			<div class="card-body">

			  <h4 class="card-title">Starch type</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="white starches" name="white_starches">
				<label class="form-check-label" for="white_starches">
					<a data-toggle="tooltip" data-placement="right" title="flour, white rice, pasta, bread, tortillas">White Starch</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="whole wheat" name="whole_wheat">
				<label class="form-check-label" for="whole_wheat">
					<a data-toggle="tooltip" data-placement="right" title="quinoa, farro, brown rice">Whole Wheat</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="sweet starchy vegetable" name="sweet_starchy_vegetable">
				<label class="form-check-label" for="sweet_starchy_vegetable">
					<a data-toggle="tooltip" data-placement="right" title="sweet potato, yucca, taro">Sweet Starchy Vegetables</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="potato" name="potato">
				<label class="form-check-label" for="potato">
				  Potato
				</label>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

	  
      <div class="row">
	  
	    <!-- Vegetables -->
	    <div class="col">
		  <div class="card">
			<div class="card-body">
			  
			  <h4 class="card-title">Vegetables</h4>
			  <!-- TODO: present alliums and nightshades using normal words -->
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="alliums" name="alliums">
				<label class="form-check-label" for="alliums">
					<a data-toggle="tooltip" data-placement="right" title="onion, shallot, garlic, scallion">Alliums</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="green" name="green">
				<label class="form-check-label" for="green">
					<a data-toggle="tooltip" data-placement="right" title="green bean, kale, lettuce">Green vegetables</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="root" name="root">
				<label class="form-check-label" for="root">
					<a data-toggle="tooltip" data-placement="right" title="tunip, butternut, pumpkin, carrot">Root vegetables</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="funghi" name="funghi">
				<label class="form-check-label" for="funghi">
					<a data-toggle="tooltip" data-placement="right" title="crimini, maitake, chanterelle">Mushrooms</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="beans" name="beans">
				<label class="form-check-label" for="beans">
					<a data-toggle="tooltip" data-placement="right" title="peas, lentil, navy, chickpea">Beans</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="nuts" name="nuts">
				<label class="form-check-label" for="nuts">
					<a data-toggle="tooltip" data-placement="right" title="peanut, almond, sesame, pecan">Nuts</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="nightshades" name="nightshades">
				<label class="form-check-label" for="nightshades">
					<a data-toggle="tooltip" data-placement="right" title="tomato, eggplant, bell pepper">Nightshades</a>
				</label>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Spices -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  
			  <h4 class="card-title">Spices</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="spicy" name="spicy">
				<label class="form-check-label" for="spicy">
					<a data-toggle="tooltip" data-placement="right" title="hot sauce, habanero, sichuan">Spicy</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="herbs" name="herbs">
				<label class="form-check-label" for="herbs">
				  <a data-toggle="tooltip" data-placement="right" title="thyme, oregano, basil, terragon">Herbs
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="black pepper" name="black_pepper">
				<label class="form-check-label" for="black_pepper">
				  Black pepper
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="red pepper" name="red_pepper">
				<label class="form-check-label" for="red_pepper">
					<a data-toggle="tooltip" data-placement="right" title="ancho, aleppo, chipotle, chili">Red pepper</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="baking spices" name="baking">
				<label class="form-check-label" for="baking">
					<a data-toggle="tooltip" data-placement="right" title="cinnamon, clove, allspice, mace">Baking spices</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="exotic" name="exotic">
				<label class="form-check-label" for="exotic">
					<a data-toggle="tooltip" data-placement="right" title="anice, turmeric, saffron, ginger">Exotic spices</a>
				</label>
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- Cheese -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  
			  <h4 class="card-title">Cheese</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="soft" name="soft">
				<label class="form-check-label" for="soft">
					<a data-toggle="tooltip" data-placement="right" title="brie, mascarpone, creme fraiche">Soft cheese</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="hard" name="hard">
				<label class="form-check-label" for="hard">
					<a data-toggle="tooltip" data-placement="right" title="cheddar, pecorino, manchego, parmesan">Hard cheese</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="pungent" name="pungent">
				<label class="form-check-label" for="pungent">
					<a data-toggle="tooltip" data-placement="right" title="bleu, gorgonzola, stilton, roquefort">Pungent cheese</a>
				</label>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
		
	  <div class="row">
	  
		<!-- Sweets -->
		<div class="col">
		  <div class="card">
			<div class="card-body">
			  
			  <h4 class="card-title">Sweets</h4>

			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="fruit" name="fruit">
				<label class="form-check-label" for="fruit">
					<a data-toggle="tooltip" data-placement="right" title="strawberry, orange, apple, peach">Fruit</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="vanilla" name="vanilla">
				<label class="form-check-label" for="vanilla">
					<a data-toggle="tooltip" data-placement="right" title="creme brulee, ice cream, also caramel">Vanilla</a>
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="chocolate" name="chocolate">
				<label class="form-check-label" for="chocolate">
				  Chocolate
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="coffee" name="coffee">
				<label class="form-check-label" for="coffee">
				  Coffee
				</label>
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- empty columns for spacing -->
		<div class="col"></div>
		<div class="col"></div>
	  </div>
	  
	  
  </div>
</div>


  <br>
 
  <button class="btn btn-dark" type="submit" value="Search"> 
    Submit
  </button>
  
</form>
