%rebase('osnova.html')

<!-- DATA STATISTICS -->


<div class="card">
    <div class="card-body">

        <h2 class="card-title">Statistics (samo zacetek)</h2>
        <i class="card-text">You can find information about our database of drinks here.</i>
		<br>
		<br>

		<h5>Wine Stats</h5>
		
		<div class="d-flex justify-content-center">
		<img class="mb-3" src="/static/countries_wine.jpg">
		</div>

		<p> 
		Slika enga grafa, npr iz kerih drzav mava vino alpa vrste, alpa kej tazga?? tlele pol se ksna beseda o tem.
		</p>


		<h5>Beer Stats</h5>

		<div class="d-flex justify-content-center">
		<img class="mb-3" src="/static/types_beer.jpg">
		</div>

		<p>Podobno tlele za pivo</p>

    </div>
