%rebase('osnova.html')

<!-- DATA STATISTICS -->


<div class="card">
    <div class="card-body">

        <h2 class="card-title">Statistics (samo zacetek)</h2>
        <i class="card-text">You can find information about our database of drinks here.</i>
		<br>
		<br>
		
		<p>
		It is important to remember that the database comes from an american online store and therefore contains more types
		of local drinks than others from around the world.
		</p>
		
		
		<!-- WINE -->

		<h5>Wine Stats</h5>
		
		Let's look at the data of our wines first.
		
		<div class="d-flex justify-content-center">
		<img class="mb-3" src="/static/types_wine.jpg">
		</div>
		
		<p>
		We can see that the most represented type of wine is actually "blend", where the wine is made from several types of grapes mixed together. 
		There is a large amount of Chardonnay, Pinot Noir and Cabernet Sauvignon but quite a few other types of wine are also well represented.
		</p>
		
		<div class="d-flex justify-content-center">
		<img class="mb-3" src="/static/countries_wine.jpg">
		</div>
		
		<p>
		The largest amount of wines, more than 500, comes from the US which makes sense, since the online store where the data was taken from is american. 
		France is right behind though and after all it probably is the most famous wine country so that is no surprise. Italy is the third and also produces 
		a large number of wines. More than 200 italian wines are in the database. The database also contains quite a lot of wines from Spain, Australia and 
		Portugal. It's somewhat surprising that Isreal produces quite a few wines sold in the online store. Around 80 wines in the database come from other 
		countries which produce only a small amount of wines sold in the store.
		</p>
		
		<div class="d-flex justify-content-center">
		<img class="mb-3" src="/static/regions_wine.jpg">
		</div>
		
		<p>
		Now let's have a look at the number of wiens frome different wine-producing regions. We see that the largest by far is California producing the 
		majority of US wines at more than 400 entries. Following that are several French regions and Tuscany. We notice that France has the most large 
		wine-producing regions, even thought Italy and the US also feature on the list two times.
		</p>
		
		
		<!-- BEER -->

		<h5>Beer Stats</h5>

		We should also check out the beer part of the database.
		
		<div class="d-flex justify-content-center">
		<img class="mb-3" src="/static/types_beer.jpg">
		</div>

		<p>
		We can see that IPA is the type of beer that is best represented. After that, there are also a lot of pale ales, stouts and lager/pilsner beers. 
		There is a pretty large amount of other types, that all have a noticable amount of entries. 
		</p>
		
		<div class="d-flex justify-content-center">
		<img class="mb-3" src="/static/countries_beer.jpg">
		</div>
		
		<p>
		Looking at the country data for beers shows us that englad produces the largest variety of beers by a large margin. After that it's the US, Belgium
		and Scotland. Germany and Denmark also produce a pretty big variety of drinks. The countries after all feature much less than 50 different drinks.
		</p>
		

    </div>
