%rebase('osnova.html')


<!-- INFORMATION ABOUT A CHOSEN WINE -->

% [ime, drzava, velikost, stopnja_alkohola, vrsta, cena, opis, slika] = res1
% [barva, regija] = res2

<div class="card">
    <div class="card-body">

        <h2 class="card-title">{{ime}}</h2>
        <p class="card-text"><i>{{vrsta}}; a {{barva}} wine from {{regija}}, {{drzava}}</i></p>

        <div class="media">
            <img class="mr-3" src="{{slika}}" height="500">

            <div class="media-body">

				<div class="table-sm">
					<table class="table table-bordered" style="width:400px">
						<tbody>
							<tr>
								<td><b>Alcohol:</b></td>
								<td>{{stopnja_alkohola}} %</td>
							</tr>
							<tr>
								<td><b>Size:</b></td>
								<td>{{velikost}} l</td>
							</tr> 
							<tr>
								<td><b>Price:</b></td>
								<td>{{cena}} €</td>
							</tr>
							<tr>
								<td><b>Type:</b></td>
								<td>{{vrsta}}</td>
							</tr> 
							<tr>
								<td><b>Origin:</b></td>
								<td>{{regija}}, <a href="/country/{{drzava}}/">{{drzava}}</a></td>
							</tr> 
						</tbody>
					</table>
				</div>

                <h5>Description:</h5>
                <p>{{opis}}</p>

                <h5 class="mt-0">Taste:</h5>
                %for okus in taste:
                %   if taste.index(okus) + 1 != len(taste):
                        <td>{{okus}},</td>
                %   else:
                        <td>{{okus}}.</td>
                %end
                %end

                <h5 class="mt-0">Smell:</h5>
                %for vonj in smell:
                %   if smell.index(vonj) + 1 != len(smell):
                        <td>{{vonj}}, </td>
                %   else:
                        <td>{{vonj}}. </td>
                %end
                %end


            </div>
        </div>


    </div>
</div>
